.searchModal {
    position: absolute;
    background-color: black;
    opacity: 1%;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}

.searchModal-text {
    text-wrap: nowrap;
}