.pickButton {
    background: #469F85;
    display: flex;
    justify-content: center;
    padding: 7px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.pickButtonOff {
    filter: contrast(0.1);
}