.textPopup {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: help;
    font-size: inherit;

}

.textPopupContent {
    position: absolute;
    bottom: 100%;
    left: 100%;
    /*border: 1px solid black;*/
    /*border-radius: 3px;*/
    background-color: #bebebe;
    display: none;
    color: black;
    word-break: keep-all;
    max-width: 250px;
    justify-content: center;
    z-index: 11;
}

.textPopupActive {
    display: flex;
    position: absolute;
}