p {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;

}
body {
    position: relative;
    margin: 0;
}
#root {
    height: 100%;
    width: 100%;
    position: relative;
}





.image-container__image {
    width: 100%;
    height: 100%;
    transition: 0.2s ease all;
    border: 1px solid black;
    cursor: inherit;
    border-radius: inherit;
    user-select: none;
}

/*.image-container__image:hover {*/
/*    transform: scale(1.3);*/
/*    cursor: pointer;*/

/*}*/
/*.image-container__image:hover ~ .image-container__text {*/
/*    display: inherit;*/
/*    opacity: 1;*/
/*    transform: translateY(15px);*/
/*    z-index: 99;*/

/*}*/
/*.image-container__text {*/
/*    transform: translateY(250px);*/
/*    opacity: 0;*/
/*    display: none;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    color: white;*/
/*    font-size: 19px;*/

/*}*/
.attribute__image-container {
    flex: 0 1 100px;
    position: relative;
    transition: 0.1s ease all;
    cursor: pointer;
    user-select: none;
}
.attribute__image-container:hover {
    position: relative;
    transform: scale(1.3);
    z-index: 1;
}
.attribute__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    user-select: none;
}
.dota-picker {
    display: flex;
    min-height: 100%;
    flex:0 0;
}
.dota-picker:active {
    outline: none;
}
.dota-picker:focus {
    outline: none;
}
.picks {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 0 0 300px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 24px;
    background-color: #1e1e1e;
    gap: 10px;
    user-select: none;
}
.picks-list {
    display: flex;

}

.attribute__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}
.all-heroes-list {
    /* Remove this line to make it horizontal  */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
    user-select: none;
}

.heroes-list__attribute {
    flex: 0 1 25%;
    user-select: none;
}

.pick__block {
    border: 2px solid black ;
    border-radius: 10px;
    width: 90px;
    height: 55px;
    background-color: #191919;
}
.pick__block-ban {
    border: 2px solid black ;
    border-radius: 10px;
    width: 60px;
    height: 33px;
    filter: brightness(45%);
}
.pick-side {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    user-select: none;
}
.pick-side-dire {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.pick-side__block {
    display: flex;
    align-items: center;
    gap: 5px;
}
.pick-side__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.pick-side-dire__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.pick-side-dire__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.pick-side__title {
    display: flex;
    font-size: 22px;
    justify-content: center;

}
.pick-side-dire__title {
    display: flex;
    justify-content: center;
    font-size: 22px;

}
.pick__block-order {
    display: flex;
    order: 2;
}
.pick__block-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    cursor: pointer;
}
.heroDisabled {
    filter: brightness(0.3);
    transform: scale(0.9);
    cursor: default;
    flex: 0 1 100px;
    position: relative;
    transition: 0.1s ease all;
}

.pick-confirm__hero {
    display: flex;
    gap: 5px;
}
.pick-confirm__hero-image {
    width: 125px;
    height: 75px;
    border-radius: 10px;
    border:1px solid black;
}
.pick-confirm__hero-name {
    font-size: 21px;
    display: flex;
    align-items: center;
}
.pick-confirm {
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    min-height: 124px;
}
.pick-confirm__text {
    font-size: 22px;
    text-align: center;
}
.pick-block__active {
    border: 2px solid #00cece;
}
.clear-button {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease all
}
.clear-button:hover {
    color: #00bdbd;
}
.not-searched {
    transition: 0.1s ease all;
    filter: brightness(20%);
}
.searchModal {
    position: absolute;
    background-color: black;
    opacity: 1%;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}
.searchModal-text {
    text-wrap: nowrap;
}
.pick-block__selected {
    border: 2px solid #006e6e;
}
/*.searchModal-active {*/
/*    display: flex;*/
/*    opacity: 100%;*/
/*    animation-name: searchShow;*/
/*    animation-timing-function: linear;*/
/*    animation-duration: 0.8s;*/
/*    animation-iteration-count: 1;*/
/*    animation-direction: normal;*/
/*    animation-fill-mode: forwards;*/
/*}*/


/*@keyframes searchShow {*/
/*    from {*/
/*        filter: opacity(70%);*/
/*        display: flex;*/
/*    }*/
/*    to {*/
/*        filter: opacity(0%);*/
/*        display: none;*/
/*    }*/
/*}*/