p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;

}
a {
    color: inherit;
    text-decoration: none;

}
a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
html {
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
    position: relative;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}


.image-container__image {
    width: 100%;
    height: 100%;
    transition: 0.2s ease all;
    border: 1px solid black;
    cursor: inherit;
    border-radius: inherit;
    user-select: none;
}

.attribute__image-container {
    flex: 0 1 100px;
    position: relative;
    transition: 0.1s ease all;
    cursor: pointer;
    user-select: none;
    z-index: 0;
}

.attribute__image-container:hover {
    position: relative;
    transform: scale(1.4);
    z-index: 1;
}

.attribute__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    user-select: none;
}

.dota-picker {
    display: flex;
    min-height: 100%;
    flex: 0 0;
}

.dota-picker:active {
    outline: none;
}

.dota-picker:focus {
    outline: none;
}

.picks {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 0 0 300px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 24px;
    background-color: #1e1e1e;
    gap: 10px;
    user-select: none;
}

.picks-list {
    display: flex;

}

.attribute__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
}

.all-heroes-list {
    display: flex;
    /* Remove this line to make heroes line up vertical  */
    flex-direction: column;
    gap: 10px;
    padding: 7px 2px 2px;
    user-select: none;
    justify-content: center;
}

.heroes-list__attribute {
    flex: 0 1 25%;
    user-select: none;
}

.pick__block {
    border: 2px solid black;
    border-radius: 10px;
    width: 90px;
    height: 55px;
    background-color: #191919;
}

.pick__block-ban {
    border: 2px solid black;
    border-radius: 10px;
    width: 60px;
    height: 33px;
    filter: brightness(45%);
}

.pick-side {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    user-select: none;
}

.pick-side-dire {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pick-side__block {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pick-side__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.pick-side-dire__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.pick-side-dire__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.pick-side__title {
    display: flex;
    font-size: 22px;
    justify-content: center;

}

.pick-side-dire__title {
    display: flex;
    justify-content: center;
    font-size: 22px;

}

.pick__block-order {
    display: flex;
    order: 2;
}

.pick__block-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    cursor: pointer;
}

.heroDisabled {
    filter: brightness(0.3);
    transform: scale(0.9);
    cursor: default;
    flex: 0 1 100px;
    position: relative;
    transition: 0.1s ease all;
}

.heroBanned {
    filter: brightness(0.3);
    cursor: default;
    flex: 0 1 100px;
    position: relative;
    transition: 0.1s ease all;
}

.heroBanned::after {
    content: 'x';
    position: absolute;
    top: -35%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 150px;
    z-index: 5;
    color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

.pick-confirm__hero {
    display: flex;
    gap: 5px;
    align-items:center;
}

.pick-confirm__hero-image {
    width: 125px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid black;
}

.pick-confirm__hero-name {
    font-size: 24px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.pick-confirm {
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    min-height: 124px;
}

.pick-confirm-empty {
    padding: 5px;
    min-height: 124px;
}

.pick-confirm__text {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.pick-block__active {
    border: 2px solid #00cece;
}

.clear-button {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease all
}

.clear-button:hover {
    color: #00bdbd;
}

.not-searched {
    transition: 0.1s ease all;
    filter: brightness(20%);
}

.pick-block__selected {
    border: 2px solid #006e6e;
}
.player-card {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    flex: 0 0 8%;
    height: 240px;
    justify-content: space-between;
    padding: 10px;
}
.player-card__image {
    width: 100%;
    height: 100%;

}
.player-card__image-div {
    width: 100px;
    height: 100px;
}
.player-card__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}
.player-card__role-icon {
    width: 24px;
    height: 24px;
}
.player-card__role {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-card__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-card__role-list {
    display: flex;

}
.player-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.player-block {
    width: 90px;
    height: 60px;
    border: 2px solid black;
}
.player-picks-list {
    display: flex;
    justify-content: space-around;
}
.player-picks-list__side {
    display: flex;
    gap: 10px;
}
.radiant-picks {
    transform: skewX(8deg);

}
.dire-picks {
    transform: skewX(-8deg);

}