.background {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #495C6A;
    box-shadow: 0 0 500px 100px rgba(0, 0, 0, 0.35) inset,
                0 0 500px 200px rgba(0, 0, 0, 0.20) inset,
                0 0 500px 300px rgba(0, 0, 0, 0.20) inset,
                0 0 500px 200px rgba(0, 0, 0, 0.10) inset,
                0 0 500px 100px rgba(0, 0, 0, 0.10) inset;
    user-select: none;
    user-focus: none;
}
