.controlPanel__bttn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3001;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.controlPanel {
    position: fixed;
    top: 0;
    left: -400px;
    width: 350px;
    height: 100%;
    background-color: rgba(27, 35, 45, 0.93);
    color: white;
    padding: 40px 35px 40px 80px;
    transition: left 0.3s ease;
    z-index: 3000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.controlPanel__active {
    left: 0;
}
